@page
@model SWP391_eTeacherSystem.Pages.EditQualificationModel
@{
}
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
            </div>
        </div>

    </div>
    <!-- </section>End Cta Section -->
    <!-- ======= Requirements Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Edit Profile</h2>
                <p>!!!</p>
            </div>

            <div class="row">

                <div class="col-lg-2"></div>

                <div class="col-lg-8 ">
                    <form action="" method="post" role="form" class="board">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <input type="hidden" asp-for="QualificationId" />
                            <div class="form-group col-md-6">
                                <label asp-for="QualificationDto.Specialize">Specialize</label>
                                <input type="text" asp-for="QualificationDto.Specialize" class="form-control">
                                <span asp-validation-for="QualificationDto.Specialize" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="QualificationDto.Classification">Classfication</label>
                                <input type="text" asp-for="QualificationDto.Classification" class="form-control">
                                <span asp-validation-for="QualificationDto.Classification" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="QualificationDto.Training_facility">Training facility</label>
                                <input type="text" asp-for="QualificationDto.Training_facility" class="form-control">
                                <span asp-validation-for="QualificationDto.Training_facility" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-">
                                <label asp-for="QualificationDto.Graduation_year">Graduation year</label>
                                <input type="number" asp-for="QualificationDto.Graduation_year" class="form-control">
                                <span asp-validation-for="QualificationDto.Graduation_year" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="QualificationDto.Image">Image</label>
                                <input type="file" asp-for="QualificationDto.Image" class="form-control">
                                <span asp-validation-for="QualificationDto.Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="text-center"><button type="submit" class="btn btn-primary form-control">Submit</button></div>
                    </form>
                </div>
                <div class="col-lg-2"></div>

            </div>

        </div>
    </section>
