@page
@model SWP391_eTeacherSystem.Pages.PaymentModel
@{
	ViewData["Title"] = "Payment";
}

<h1>Payment Page</h1>

<button id="checkout-button">Checkout</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
	var stripePublicKey = '@Model.StripePublicKey'; // Retrieve Stripe public key from model

	var stripe = Stripe(stripePublicKey);

	document.getElementById('checkout-button').addEventListener('click', function () {
		fetch('/Payment?handler=CreateCheckoutSession', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(@Html.Raw(Model.RequirementsJson))
		})
			.then(function (response) {
				return response.json();
			})
			.then(function (session) {
				return stripe.redirectToCheckout({ sessionId: session.sessionId });
			})
			.then(function (result) {
				if (result.error) {
					alert(result.error.message);
				}
			})
			.catch(function (error) {
				console.error('Error:', error);
				alert('There was an error processing your request. Please try again later.');
			});
	});
</script>
