@page
@model SWP391_eTeacherSystem.Pages.ResetPasswordModel
@{
}
<!-- ======= Reset Password ======= -->
<section id="Reset" class="contact ctaa ">
    <div class="container reset" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-3"></div>
            <div id="reset" class="col-lg-5">
                <form method="post" role="form" style="border-radius: 8px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3>Reset Password</h3>
                        </div>
                        <div class="col-12 form-group">
                            <label asp-for="userName">User Name</label>
                            <input type="text" asp-for="userName" class="form-control" id="name" required>
                            <span asp-validation-for="userName" class="text-danger"></span>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary form-control">Get New Password</button>
                        </div>
                        <div class="col-12 text-center mt-3">
                            Back to Homepage? <a asp-page="Index">eTeacher</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>
<!-- ======= End Reset Password ======= -->
